{
  box-sizing: border-box;

}
.muneco {
  position: relative;
  margin: 0 auto;
  height: 30em;
  width: 30em;
  top: 10em;
}
.pelo{

}
.pelillos{

}
.ojos {
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #65350F;
  border: thin solid brown;

}
.ojo {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 50%;
  top: -10em;

}

@keyframes ubre {
  0% {background-color: brown;  }
  50% {background-color: white; }
  100% {background-color: pink;}
}
.cuernos{

}

.gafas{
  position: absolute;
  height: 20px;
  left: 0;
  right: 0;
  bottom: 13em;
  background-color: black;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cuerno-r{
  position: absolute;
  height: 150px;
  width: 170px;
  left: 1;
  right: 0;
  bottom: 18.7em;
  background-color: black;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cuerno-l{
  position: absolute;
  height: 150px;
  width: 170px;
  left: 0;
  right: 0;
  bottom: 18.7em;
  background-color: black;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ojo-lt {
  position: absolute;
  left: 2em;
  top: 0;

}
.ojo-rt {
  position: absolute;
  right: 2em;
  top: 0;

}

.pico{
  position: absolute;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0em;
  background-color: #f2eabc;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;

  }

  .puntopico {
  position: relative;
  width: 10px;
  height: 100px;
  background-color: #d8d0a2;
  right: -10em;
  border-radius: 20px;

}
.puntopico3 {
  position: relative;
  width: 10px;
  height: 100px;
  background-color: #d8d0a2;
  right: -10em;
  border-radius: 20px;

}
.cuerpo {
  position: absolute;
  margin: 0 auto;
  height: 35em;
  width: 30em;
  top: 25em;
  background-color: #65350F;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.ubre{
  position: relative;
  width: 300px;
  height: 300px;
  background-color: pink;
  border: thick solid #FF0080;
  top: 12em;
  border-radius: 50%;
  margin: 0 auto;
}
.leche{
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border: thick solid #FF0080;
  top: 5em;
  left:15em;
  border-radius: 50%;
  animation: ubre  0.4s linear 0s infinite alternate;

}
.leche1{
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border: thick solid #FF0080;
  top: -11em;
  left:16em;
  border-radius: 50%;
  animation: ubre  0.4s linear 0s infinite alternate;
}
.leche2{
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border: thick solid #FF0080;
  top: -11em;
  border-radius: 50%;
  margin: 0 auto;
  animation: ubre  0.4s linear 0s infinite alternate;

}
.leche3{
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border: thick solid #FF0080;
  top: -22em;
  left: 9em;
  border-radius: 50%;
  animation: ubre  0.4s linear 0s infinite alternate;

}
.leche4{
  position: relative;
  width: 80px;
  height: 80px;
  background-color: white;
  border: thick solid #FF0080;
  top: -17em;
  left: 9em;
  border-radius: 50%;
  animation: ubre  0.4s linear 0s infinite alternate;

}
.bracitos{
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: ed;
  bottom:-50em;
}

.brazo-lt {
  position: relative;
  width: 300px;
  height: 75px;
  background-color: black;
  top: -40em;
  left: -13.4em;
  border-top-left-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  background-color: #65350F;
  transform:rotate(-40deg);
}
.brazo-drt {
  position: absolute;
  width: 76px;
  height: 77px;
  background-color: #f2eabc;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  transform:rotate(50deg);
  top: -35.359em;
  left: -12em;
}

.brazo-rt {
  position: relative;
  width: 300px;
  height: 75px;
  background-color: black;
  top: -44em;
  right:-25em;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  background-color: #65350F;
  transform:rotate(40deg);
}
.brazo-dlt {
  position: absolute;
  width: 76px;
  height: 77px;
  background-color: #f2eabc;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  transform:rotate(-50deg);
  top: -34.75em;
  right: -12.3em;
  z-index: 4;
}
.patas{
  position: absolute;
  height: 50px;
  left: 10em;
  right: 0;
  margin: 0 auto;
  background-color: ;
  bottom:0em;
}
.pata-r{
  position: absolute;
  width: 125px;
  height: 150px;
  background-color: #f2eabc;
  left: -10em;
  top: 0;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  z-index: -4;
}
.pata-l{
  position: absolute;
  width: 125px;
  height: 150px;
  background-color: #f2eabc;
  right: 0;
  top: 0;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  z-index: -4;
}
