{
  box-sizing: border-box;

}
.muneco {
  position: relative;
  margin: 0 auto;
  height: 30em;
  width: 30em;
  top: 10em;
}
.pelo{

}
.pelillos{

}
.ojos {
  position: absolute;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
border-radius: 20px;
  background-color: #ffd65e;

}

.ojo {
  position: ;
  width: 150px;
  height: 150px;
  background-color: black;
  border: thin solid black;
  border-radius: 50%;
  top: -10em;

}



.ojo-lt {
  position: absolute;
  left: 2em;
  top: 0;
}
.ojo-rt {
  position: absolute;
  right: 2em;
  top: 0;
}

.pico{
  position: absolute;
  height: 200px;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0em;
  background-color: #f2eabc;
  z-index: 4;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;

  }

  .puntopico {
  position: relative;
  width: 10px;
  height: 100px;
  background-color: #d8d0a2;
  right: -10em;
  border-radius: 20px;

}
.puntopico3 {
position: relative;
width: 10px;
height: 100px;
background-color: #d8d0a2;
right: -10em;
border-radius: 20px;

}
.cuerpo {
  position: absolute;
  margin: 0 auto;
  height: 35em;
  width: 30em;
  top: 25em;
  background-color: #ffd65e;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bracitos{
  position: absolute;
  height: 500px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: ed;
bottom:-50em;
}

.brazo-lt {
  position: relative;
  width: 300px;
  height: 75px;
  background-color: black;
  top: -40em;
  left: -13.8em;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  background-color: #ffd65e;
    transform:rotate(-40deg);
}
.brazo-rt {
  position: relative;
  width: 300px;
  height: 75px;
  background-color: black;
  top: -44em;
  right:-25em;
  border-top-left-radius: 700px;
  border-top-right-radius: 700px;
  border-bottom-right-radius: 700px;
  border-bottom-left-radius: 700px;
  background-color: #ffd65e;

  transform:rotate(40deg);
}
